<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://latirelire.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>latirelire.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>latirelire</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$latirelire</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TireBase3" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:tirebase.database.windows.net,1433;Initial Catalog=TireBase;User ID=BruceMish@tirebase.database.windows.net;Password=Bourouette69$" Name="Data Source=tcp:tirebase.database.windows.net,1433;Initial Catalog=TireBase;User Id=BruceMish@tirebase.database.windows.net;Password=Bourouette69$;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LaTirelire.Models.TireBase, LaTirelire" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="tireBaseConnect" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:tirebase.database.windows.net,1433;Initial Catalog=TireBase;User ID=BruceMish@tirebase.database.windows.net;Password=Bourouette69$" Name="Data Source=tcp:tirebase.database.windows.net,1433;Initial Catalog=TireBase;User Id=BruceMish@tirebase.database.windows.net;Password=Bourouette69$;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LaTirelire.Models.ApplicationDbContext, LaTirelire" MigrationConfiguration="LaTirelire.Migrations.Configuration, LaTirelire" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:tirebase.database.windows.net,1433;Initial Catalog=TireBase;User ID=BruceMish@tirebase.database.windows.net;Password=Bourouette69$" Name="Data Source=tcp:tirebase.database.windows.net,1433;Initial Catalog=TireBase;User Id=BruceMish@tirebase.database.windows.net;Password=Bourouette69$;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-LaTirelire-20181113024530.mdf;Initial Catalog=aspnet-LaTirelire-20181113024530;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-LaTirelire-20181113024530.mdf;Initial Catalog=aspnet-LaTirelire-20181113024530;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TireBase1" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:tirebase.database.windows.net,1433;Initial Catalog=TireBase;User ID=BruceMish@tirebase.database.windows.net;Password=Bourouette69$" Name="Data Source=tcp:tirebase.database.windows.net,1433;Initial Catalog=TireBase;User Id=BruceMish@tirebase.database.windows.net;Password=Bourouette69$;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-4G4RBLB\SQLEXPRESS;Initial Catalog=TireBase;User ID=sa;Password=alanvega;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TireBase1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=DESKTOP-4G4RBLB\SQLEXPRESS;initial catalog=TireBase;user id=sa;password=alanvega;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TireBase2" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:tirebase.database.windows.net,1433;Initial Catalog=TireBase;User ID=BruceMish@tirebase.database.windows.net;Password=Bourouette69$" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-4G4RBLB\SQLEXPRESS;Initial Catalog=TireBase;User ID=sa;Password=alanvega;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TireBase2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=DESKTOP-4G4RBLB\SQLEXPRESS;initial catalog=TireBase;user id=sa;password=alanvega;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TireBase" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:tirebase.database.windows.net,1433;Initial Catalog=TireBase;User ID=BruceMish@tirebase.database.windows.net;Password=Bourouette69$" Name="Data Source=tcp:tirebase.database.windows.net,1433;Initial Catalog=TireBase;User Id=BruceMish@tirebase.database.windows.net;Password=Bourouette69$;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-4G4RBLB\SQLEXPRESS;Initial Catalog=TireBase;User ID=sa;Password=alanvega;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TireBase_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=DESKTOP-4G4RBLB\SQLEXPRESS;initial catalog=TireBase;user id=sa;password=alanvega;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TireBase2-Web.config Connection String">
      <ParameterValue>data source=tcp:tirebase.database.windows.net,1433;initial catalog=TireBase;user id=BruceMish@tirebase.database.windows.net;password=Bourouette69$;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TireBase1-Web.config Connection String">
      <ParameterValue>data source=tcp:tirebase.database.windows.net,1433;initial catalog=TireBase;user id=BruceMish@tirebase.database.windows.net;password=Bourouette69$;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TireBase-Web.config Connection String">
      <ParameterValue>data source=tcp:tirebase.database.windows.net,1433;initial catalog=TireBase;user id=BruceMish@tirebase.database.windows.net;password=Bourouette69$;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tirebase.database.windows.net,1433;Initial Catalog=TireBase;User Id=BruceMish@tirebase.database.windows.net;Password=Bourouette69$;</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="tireBaseConnect-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tirebase.database.windows.net,1433;Initial Catalog=TireBase;User Id=BruceMish@tirebase.database.windows.net;Password=Bourouette69$;</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TireBase3-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tirebase.database.windows.net,1433;Initial Catalog=TireBase;User Id=BruceMish@tirebase.database.windows.net;Password=Bourouette69$;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>